@import '../../../styles/index.scss';

.footer {
    background-color: $background-dark-web;
    border-top: 3px solid $primary-color;

    
    &__copyright {
        margin-top: 30px;
        .ant-col {
            color: $primary-color-dark;
            
            &:last-of-type{
                text-align: right;
            }
        }
    }

    // &__components {
    //     .ant-col {
    //         &:nth-child(2){
    //             padding-left: 10px;
    //             padding-right: 10px;
    //         }
    //     }
    // }
}